.body-cartas {
    background: #1f201e;
    width: 100%;
    height: 100%;
}

.back-search{
    max-width: 1200px;
    height: 20em;
    margin: auto;
    margin-top: 1em;
    border: 2px solid #62b624;
    border-radius: 16px;
}

.back-cartas {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    background: #0b01464d;
}

.titulo-cartas{
    max-width: 1200px;
    margin: auto;
    margin-top: 1em;
    color: #ffff;
    border-left: 4px solid #62b624;
}

h3{
    padding: 10px;
}

.total-cartas {
    height: 100%;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.carta {
    margin: 10px;
    margin-left: 1em;
}