<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Item Hover Color Background</title>
  <link rel='stylesheet' href='https://rawcdn.githack.com/SochavaAG/example-mycode/master/_common/css/reset.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="carta"> 
	<article class="profile">
		<div class="profile-image">
			<img 				src="https://img.asmedia.epimg.net/resizer/lqsy7mJHPWIbj45aTSL7gwZY4U8=/360x0/cloudfront-eu-central-1.images.arcpublishing.com/diarioas/KJSGVNUE3ZJSFLZ5MUJVKHHILY.jpg" />
		</div>
		<h4 class="profile-username">Grand Theft Auto: San Andreas</h4>
		<small class="profile-user-handle">(Ntfs-Pal) - ISO</small>
	</article>
</div>
<div class="carta"> 
	<article class="profile">
		<div class="profile-image">
			<img 				src="./Naruto Ultimate Ninja 3.jpg" />
		</div>
		<h4 class="profile-username">Naruto Ultimate Ninja 3</h4>
		<small class="profile-user-handle">(Ntfs-Pal) - ISO</small>
	</article>
</div>
<div class="carta"> 
	<article class="profile">
		<div class="profile-image">
			<img 				src="./PES 2020 3.0 FINAL.jpg" />
		</div>
		<h4 class="profile-username">PES 2020 3.0 FINAL</h4>
		<small class="profile-user-handle">(Ntfs-Pal) - ISO</small>
	</article>
</div>
<div class="carta"> 
	<article class="profile">
		<div class="profile-image">
			<img 				src="./Need for Speed Most Wanted.jpg" />
		</div>
		<h4 class="profile-username">Need for Speed Most Wanted</h4>
		<small class="profile-user-handle">(Ntfs-Pal) - ISO</small>
	</article>
</div>
<div class="carta"> 
	<article class="profile">
		<div class="profile-image">
			<img 				src="./Bully Canis Canem Edit.jpg" />
		</div>
		<h4 class="profile-username">Bully Canis Canem Edit</h4>
		<small class="profile-user-handle">(Ntfs-Pal) - ISO</small>
	</article>
</div>
<div class="carta"> 
	<article class="profile">
		<div class="profile-image">
			<img 				src="./DBZ Budokai Tenkaichi 3.jpg" />
		</div>
		<h4 class="profile-username">DBZ Budokai Tenkaichi 3</h4>
		<small class="profile-user-handle">(Ntfs-Pal) - ISO</small>
	</article>
</div>
<!-- partial -->
  
</body>
</html>
